extends layout.pug

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/forms.css")

block content
  .container
    +validationErrorSummary(errors)
    form(action=`/questions/${question.id}/answer` method='post' class="forms")
      input(type='hidden' name='_csrf' value=csrfToken)
      div(class='form-group')
        label(for="body" class="label") Answer
        textarea(id="body" name="body" class="input")= answer.body
      div
        button(type='submit' class="btn") Post Answer
        a(href=`/questions/${question.id}`) Cancel
