block head
.navbar
      div(class="header")
       a(href=`/` )
        img(src="/images/Cool Text - Fitness Overflow 373431043286713.png" class="nav-link-2")
      div(class="logout-bar")
       p(class="nav-link-1") #{user? user.username : "welcome"}
       form(action='/users/logout' method='post')
        button(class="logout-button" type='submit') Logout
        block content
