extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p(class="welcome") Welcome to Fitness Overflow
  h2(class="indexHeader") List of Questions
  ul
    each question in questions
      a(href=`/questions/${question.id}` class="question")
        li= question.body