//- extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/login.css")


include utils.pug

block content
  .container
    form(class="auth-form" action='/users/login' method='post')
      +validationErrorSummary(errors)
      image(class="logo" src="/pictures/logoTransparent.png")
        div(class="title") Fitness Overflow
      input(type='hidden' name='_csrf' value=csrfToken)
      div(class='emailLogin--row')
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png')
        input(type="text" id="email" name="email" placeholder="Email")
      div(class="password--row")
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png')
        input(type="password" id="password" name="password" placeholder="Password")
      div(class='login-btn')
        button(class="btn" type='submit' ) Login
    form(class="auth-form" action='/users/login' method='post')
      div(class='login-btn')
      input(type='hidden' name='_csrf' value=csrfToken)
      input(type='hidden' name='email' value='demoUser@demo.com')
      input(type='hidden' name='password' value='DemoPass123!')
      button(class="btn centered" type='submit') Demo Login
      div(class="account--row")
        P: a(href='/users/signup' class="linked") Don't have an account?
