

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/login.css")
  //- add page specific js
  script(src="/javascripts/demo-login.js" type="module" defer)

include utils.pug

block content
  .container
    form(class="auth-form" action='/users/login' method='post')
      +validationErrorSummary(errors)
      image(class="logo" src="/pictures/logoTransparent.png")
        div(class="title") Fitness Overflow
      input(type='hidden' name='_csrf' value=csrfToken)
      div(class='emailLogin--row')
        svg(class="login__icon svg-icon" viewBox="0 0 20 20")
          path(d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8")
        input(type="text" id="email" name="email" placeholder="Email")
      div(class="password--row")
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png')  
        // svg(class="login__icon svg-icon" viewBox="0 0 20 20")
          // path(d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0")
        input(type="password" id="password" name="password" placeholder="Password")
      div(class='login-btn')
        button(class="btn" type='submit' ) Login
      div(class="account--row")    
        P: a(href='/users/signup' class="linked") Don't have an account?
