.container {
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: rgba(66, 94, 255, 0.8);
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error_and_form {
    width: 60%;
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    flex-direction: column; */
    /* position: relative;
    top: -20%; */
    height: 80%;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 80%;
}

/* #body{
    width: 60%;
} */

.btn {
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: 1px solid black;
    font-size: 1rem;
}

.forms {
    /* width:100px; */
    /* margin:auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* position: relative;
    top: -20%; */
    width: 100%;
    height: 50%;
    /* height: 80%; */
    /* justify-content: space-between; */
}

.title {
    font-size: 2rem;
    margin: auto;
    width: fit-content;
}

.label {
    padding: 0.5rem;
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons{
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding: 10px 0px;

    /* position: relative;
    top: -20px; */

}

.input {
    padding: 0.25rem;
    border: 1px solid grey;
    border-radius: 0.25rem;
    width: 100%;
}

textarea {
    resize: none;
}

input {
    padding: 0.25rem;
    border: 1px solid grey;
    border-radius: 0.25rem;
    width: 100%;
}

.container-delete {
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: rgba(66, 94, 255, 0.8);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


a:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: b2b8bd;
}
