
.container {
    width: 60%;
    margin: auto;
    padding: 1rem;
}


.form-group {
    display: flex;
    flex-direction: column;
    width: 80%;
}

/* #body{
    width: 60%;
} */

.btn{
    padding:0.2rem;
    border-radius: 0.2rem;
    border: 1px solid black;
    font-size: 1rem;
}

.forms {
    width:400px;
    margin:auto;
}

.title {
    font-size: 2rem;
    margin: auto;
    width: fit-content;
}

.label {
    padding: 0.5rem;
}

.input {
    padding: 0.25rem;
    border: 1px solid grey;
    border-radius: 0.25rem;
    width: 100%;
}

input {
    padding: 0.25rem;
    border: 1px solid grey;
    border-radius: 0.25rem;
    width: 100%;
}