h1 {
    color: #555555;
}

.welcome {
    display: flex;
    justify-content: center;
}

.indexHeader {
    display: flex;
    justify-content: center;
}

.questionLink {
    /* color: blue;
    display: flex;
    justify-content: center; */
    text-decoration: none;
    display: block;
    width: 65%;
    margin: auto;
}

.button:hover {
    background-color: #b2b8bd;
    cursor: pointer;
}

/* .questionLink:not(:active) {
    transition: background-color 1000ms step-end;
} */

.questionLink:visited {
    color: blueviolet;
}

.question {
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    margin: auto;
    padding: 15px;
    padding-top: 5px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgba(66, 94, 255, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 115%;
    overflow: auto;
}

.question:hover {
    border: 3px solid black;
}

.question:active {
    background-color: rgb(119, 119, 119);
}

.questionLink:hover {
    width: 68%
}

.info {
    text-align: right;
}

.navbar2 {
    display: flex;
    flex-direction: row;
    width: 65%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}