h1 {
    color: #555555;
}

.welcome{
    display: flex;
    justify-content: center;
}

.indexHeader{
    display: flex;
    justify-content: center;
}

.questionLink{
    color: blue;
    display: flex;
    justify-content: center;
}

.questionLink:visited{
    color: blueviolet;
}

.question{
    box-sizing: border-box;
    border: 1px solid black;
    width: 60%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    padding-top: 5px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgb(235, 233, 226);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 115%;

}

.question:hover{
    border: 3px solid black;
    

}

.info{
    text-align: right;
}


.navbar {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin:auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-link-1 {
    text-decoration: none;
    padding: 1rem;

}
.nav-link-2 {
    padding: 1rem;


}
/*
.nav-link:hover {
    box-shadow: 1px 1px white ;
} */

.title {
    font-size: 2rem;
    margin: auto;
    width: fit-content;
}

.container {
    width: 60%;
    margin: auto;
    padding: 1rem;
}

.auth-form {
    width:25%;
    margin:auto;
}

.form-group {
    display: flex;
    flex-direction: column;

}

.label {
    padding: 0.5rem;
}

input {
    padding: 0.25rem;
    border: 1px solid grey;
    border-radius: 0.25rem;
}

.btn {
    padding:0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    font-size: 1rem;
}

.auth-actions {
    margin: auto;
    width: 50%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.linked {
    display: flex;
    flex-direction: column;
    width:25%;
    margin:auto;
}

.logout{
    height: 50%;
}
