.navbar {
    display: flex;
    width: 65%;
    margin:auto;
    align-items: center;
    position:relative;
    /* justify-content: center; */
}

.nav-link-1 {
    font-weight: bold;
    position: absolute;
    bottom: 13px;
    right: 0px;
}

.header {

}

.nav-link-2 {
    /* position:absolute; */
    /* right: 30px; */
    /* right: 100px; */
    /* font-size: 200%; */
    width: 80%;
}

.logout-bar {
    position:absolute;
    right: 0px;
    bottom: 4px;
}
