.navbar {
    display: flex;
    width: 65%;
    margin: auto;
    align-items: center;
    position: relative;
    /* justify-content: center; */
}

.nav-link-1 {
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    right: 0px;
}

.logout-button {
    /* padding: 5px 0px; */
    margin: 5px 0px;
}

.header {
    /* position: relative;
    top: 20px; */
    padding-top: 15px;
    padding-bottom: 5px;
}

.nav-link-2 {
    /* position:absolute; */
    /* right: 30px; */
    /* right: 100px; */
    /* font-size: 200%; */
    width: 80%;
}

.logout-bar {
    position: absolute;
    right: 0px;
    bottom: 4px;
}
