
body {
  background-image: url(../images/pexels-lukas-669576.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.container {
  position:absolute;
  top: 10vh;
  display:block;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height:90vh;
  width: 40%;
  margin: auto;
  padding: 1rem;
  background: linear-gradient(to bottom, rgba(66, 94, 255, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%)
  
}



* {
  color: rgba(212, 212, 212, 0.9);
  font-size: 105%
}


input {
  padding: 0.25rem;
  border: 1px solid grey;
  border-radius: 0.25rem;
  color: black;
  width:100%;
  font-size: 3vw;
}



.logo, .title{
  position:relative;
  width: 20vw;
  left: 50%;
  transform: translateX(-50%);
  max-height: 100px
}

.logo{
  max-width: 100px;
}

.title {
  width: 100%;
	text-align: center;
  font-size: 2em;
  padding-bottom: 10px;
  color: black;
}


.form-group {
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  margin: auto;
}

.linked {
  width:400px;
  margin:auto;
  margin-top: 0px;
  text-align: center;
  text-decoration: none;
}

.svg-icon{
  display: inline-block;
  width: 2rem;
  height: 1.4rem;
  overflow: visible;
}

.btn, .emailLogin--row, .password--row, .login-btn, .account--row, .remember--checkbox{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%
}
.emailLogin--row{
  margin-top: 10h;
}


button:hover{
  background-color:#727F8C;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  cursor:pointer;
  
}

a:hover{
  cursor:pointer;
	transform: scale(1.3);
	color:blue;
}
.btn {
    padding:0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    font-size: 1rem;
    width: 60%;
    color: black;
}

.centered {
  margin-left: 20%;
}