.question-container{
    box-sizing: border-box;
    border: 1px solid black;
    width: 65%;
    margin:auto;
    padding: 15px;
    padding-top: 5px;
    border-radius: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 115%;
    /* font-weight: bold; */
    overflow: auto;
    background-color: rgba(66, 94, 255, 0.8);;
}

body {
    background-image: url(../images/pexels-lukas-669576.jpg);
    background-size: contain;
    background-attachment: fixed;
}

.question-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    /* font-weight: bold; */
    text-align: center;
    text-decoration: underline;
}

.question-body {
    font-size: 115%;
}


.space {
    padding: 15px;
}

h1 {
    width: 65%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}


.answer{
    box-sizing: border-box;
    border: 1px solid black;
    width: 65%;
    margin:auto;
    padding: 15px;
    padding-top: 5px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgba(96, 43, 182, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 115%;
    display: flex;
    overflow: auto;
    flex-direction: column;
    overflow-wrap: break-word;
}

.answer-body {
    font-size: 115%;
}

/* .answer-top {
    display: flex;
    a} */

.answer-bottom {

}
